%footer.footer
  %small
    %a{:href => "#"}= "Warehouse app"
    ="by Dang"
  %nav
    %ul
      %li= link_to "About", about_path
      %li= link_to "Contact", contact_path
      %li>
        %a{:href => "#"}="News"
